<div class="desktop-icons">

    <div class="desktop-icon">

        <button id="filesIcon">
            📁
        </button>

        <p>FILES</p>

    </div>


    <div class="desktop-icon">

        <button id="browserIcon">
            🌐
        </button>

        <p>BROWSER</p>

    </div>


    <div class="desktop-icon">

        <button id="messagesIcon">

            ✉

            <span
                id="messageBadge"
                class="notification-badge hidden"
            >
                1
            </span>

        </button>

        <p>MESSAGES</p>

    </div>


    <div class="desktop-icon">

        <button id="terminalDesktopIcon">
            ▣
        </button>

        <p>TERMINAL</p>

    </div>

</div>
