<div
    id="messagesWindow"
    class="messages-window"
>

    <div class="messages-titlebar">

        <button
            class="messages-close"
            title="Close"
        ></button>

        <h1>
            MESSAGES
        </h1>

    </div>


    <div class="messages-content">

        <aside class="message-list">

            <div class="message-item active">

                <div class="message-sender">
                    UNKNOWN
                </div>

                <div class="message-preview">
                    No new messages.
                </div>

                <span
                    id="messageListBadge"
                    class="message-unread"
                >
                    !
                </span>

            </div>

        </aside>


        <section class="message-view">

            <div class="message-header">
                UNKNOWN
            </div>

            <div class="message-time">
                JUST NOW
            </div>

            <div class="message-body">
                Loading...
            </div>

        </section>

    </div>

</div>
